
.headband {
    height: 960px;
    /* width: 100%; */
    background: url("../images/bg1.png");
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center center;
    background-size: 1920px 960px;
}


.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .site-title {
    color: $black-deep;
    margin: 10px auto 0;

    a {
      border: 0;
    }
  }
}

.custom-logo-image {
  background: white;
  margin: 0 auto;
  max-width: 150px;
  padding: 5px;
}

.brand {
  background: var(--btn-default-bg);
}
